<!--INHERITANCE DONE FOR basic.html FILE-->
{% extends 'shop/basic.html' %}

<!-- TITLE OF ABOUT PAGE-->
{% block title %} CheckOut - My Awesome Cart {% endblock %}

<!-- BODY OF ABOUT PAGE-->
{% block body %}

<div class="container my-3">

  <div class="col">
      <h3><b>Step 1 - My Awesome Cart Express CheckOut - Review Your Cart Items</b></h3>
      <div class="my-3">
          <ol id="items" class="list-group list-group-numbered">

          </ol>
      </div>
  </div>

  <div class="col my-3">
      <h3><b>Step 2 - Enter Address & Other Details</b></h3>
      <div class="my-2">
        <form class="row g-3" method="post" action="/shop/checkout/"> {% csrf_token %}
          <input type="hidden" name="itemsJson" id="itemsJson">
          <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
          </div>
          <div class="col-12">
            <label for="add1" class="form-label">Address</label>
            <input type="text" class="form-control" id="add1" name="add1" placeholder="1234 Main St" required>
          </div>
          <div class="col-12">
            <label for="add2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="add2" name="add2" placeholder="Apartment, studio, or floor" required>
          </div>
          <div class="col-md-6">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" required>
          </div>
          <div class="col-md-4">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter State" required>
          </div>
          <div class="col-md-2">
            <label for="zip_code" class="form-label">Zip</label>
            <input type="number" class="form-control" id="zip_code" name="zip_code" placeholder="Enter Zip" required>
          </div>
          <div class="col">
            <label for="phone" class="form-label">Mobile</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter phone" required>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Place Order</button>
          </div>
        </form>
      </div>
  </div>

</div>

{% endblock %}

{% block js %}
<script>

  if(localStorage.getItem('cart') == null){
    var cart = {};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
  }

  var sum = 0;
  if ($.isEmptyObject(cart)){
    // If Object Is Empty
    mystr = `<p>Your cart is empty, please add some item\'s to your Cart before checking out.</p>`
    $('#items').append(mystr);
  }
  else{
    for(item in cart){
      let qty = cart[item][0];
      let name = cart[item][1];
      sum = sum + qty;

      // Written with the help of ES6

      mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                 <div class="fw-bold ms-2 me-auto">${name}</div>
                 <span class="badge bg-primary rounded-pill">${qty}</span>
               </li>`
      $('#items').append(mystr);
    }
  }

  document.getElementById('cart').innerHTML = sum;

  $('#itemsJson').val(JSON.stringify(cart));
  {% if thank %}
    alert('Thanks for ordering. Your order id is {{id}}. Use it to track your order using our order tracker');
    localStorage.clear();
    document.location = "/shop";
  {% endif %}

</script>
{% endblock %}

<!--SO BY THIS WE ARE WORKING WITH DRY PRINCIPLE - DO NOT REPEAT YOURSELF-->
<!--AND SAVES TIME, EFFORT, MEMORY-->