  <!--INHERITANCE DONE FOR basic.html FILE-->
{% extends 'shop/basic.html' %}

<!-- TITLE OF ABOUT PAGE-->
{% block title %}

My Awesome Cart

{% endblock %}

<!-- TITLE OF ABOUT PAGE-->
{% block css %}

     .col-md-3{
        display: inline-block;
        margin-left: -4px;

     }

      .col-md-3 img{
         max-width: 227px;
         height: 242px;
      }

      body .carousel-indicator li{
         background-color: blue;
      }

       body .carousel-indicators{
         bottom: 0;
      }
      .carousel-indicators .active{
         background-color: blue;
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
         background-color: grey;
      }

      .carousel-control-prev,
      .carousel-control-next{
         top: auto;
         bottom: auto;
         padding-top: 170px;
      }

      body .no-padding{
         padding-left: 0;
         padding-right: 0
      }

{% endblock %}

<!-- BODY OF ABOUT PAGE-->
{% block body %}
    {% load static %}

<div class="container my-2  ">

{% for product, range, nSlides in allProds %}

    <h1 class="my-3"> {{product.0.category }} </h1>

    <div class="row">

      <div id="demo{{forloop.counter}}" class="col carousel slide mx-5" data-bs-ride="carousel">
            <div class="carousel-inner ">

                  <div class="carousel-item active">

                        {% for i in product %}

                                        <div class="col-xs-3 col-sm-3 col-md-3  ">
                                          <div class="card" style="width: 18rem;">
                                            <img src="/media/{{i.image}}"  class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">{{i.product_name}}</h5>
                                              <p class="card-text">{{i.desc}}</p>
                                              <button id="Prod{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                                            </div>
                                          </div>
                                        </div>

                                        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                  </div>                     <div class="carousel-item">
                                        {% endif%}

                        {% endfor %}
                                             </div>

            </div>
      </div>


      <!--  Previous Button   -->

            <button class="carousel-control-prev" type="button" data-bs-target="#demo{{forloop.counter}}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>

      <!--  Next Button    -->

            <button class="carousel-control-next" type="button" data-bs-target="#demo{{forloop.counter}}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

</div>

{% endfor %}

</div>

{% endblock %}

{% block js %}

<script>

    if(localStorage.getItem('cart') == null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));

        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }

    $('.cart').click(function(){

        var idstr = this.id.toString();

        if(cart[idstr] != undefined){
            cart[idstr] = cart[idstr] + 1;
        }
        else{
            cart[idstr] = 1;
        }

        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));

        document.getElementById('cart').innerHTML = Object.keys(cart).length;

    });

    document.addEventListener("DOMContentLoaded", function(){

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function(element){
            return new bootstrap.Popover(element);
        });

    });

</script>

{% endblock %}

<!--SO BY THIS WE ARE WORKING WITH DRY PRINCIPLE - DO NOT REPEAT YOURSELF-->
<!--AND SAVES TIME, EFFORT, MEMORY-->

