<!--INHERITANCE DONE FOR basic.html FILE-->
{% extends 'shop/basic.html' %}

<!-- TITLE OF ABOUT PAGE-->
{% block title %} {{product.product_name}} {% endblock %}

<!-- BODY OF ABOUT PAGE-->
{% block body %}

<div class="container my-4">

     <div class="row">

         <div class="col-md-4">
            <div class="row">
                    <img src="/media/{{product.image}}">
            </div>

            <div class="row">
                <button class="btn btn-primary mx-2 my-2  ">Buy Now</button>
                <button class="btn btn-primary mx-2 my-2  ">Add to Cart</button>
            </div>
         </div>

        <div class="col-md-8">
            <h5>{{product.product_name}}</h5>
            <p><b>Rs. {{product.price}}</b></p>
            <p>{{product.desc}}</p>
        </div>

     </div>

</div>

{% endblock %}

{% block js %}

<script>

    if(localStorage.getItem('cart') == null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));

        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }

    $('.cart').click(function(){

        var idstr = this.id.toString();

        if(cart[idstr] != undefined){
            cart[idstr] = cart[idstr] + 1;
        }
        else{
            cart[idstr] = 1;
        }

        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));

        document.getElementById('cart').innerHTML = Object.keys(cart).length;

    });

    document.addEventListener("DOMContentLoaded", function(){

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function(element){
            return new bootstrap.Popover(element);
        });

    });

</script>

{% endblock %}

<!--SO BY THIS WE ARE WORKING WITH DRY PRINCIPLE - DO NOT REPEAT YOURSELF-->
<!--AND SAVES TIME, EFFORT, MEMORY-->